@page "/inventory/edit/{Id:int}"
@rendermode InteractiveServer
@using Inventories.Data
@using Inventories.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<InventoryDbContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>在庫品　編集</h3>

<!-- 非同期で取得するため、StockItemのNullチェックが完了してからレンダリングする -->
@if (this.stockItem is not null)
{
    <!-- <StockItemForm StockItem= のStockItemは親コンポーネントにPublicで定義したもの -->
    <StockItemForm StockItem="@this.stockItem" OnOk="OnOkAsync" OnCancel="OnCancel" />
}

@code {
    /// <summary>
    /// @page "/inventory/edit/{Id}" で指定されたIdを対応付ける
    /// </summary>
    [Parameter]
    public int Id { get; set; }

    /// <summary>
    /// 非同期で処理を行うためNullable型を使用しておく
    /// </summary>
    private StockItems? stockItem;

    /// <summary>
    /// OnInitializedAsyncはコンポーネントが初期化されるタイミングで呼び出される
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await using var dbContext = await this.DbContextFactory.CreateDbContextAsync();
        this.stockItem = await dbContext.StockItems.FindAsync(this.Id);
    }

    private async Task OnOkAsync(StockItems newStockItem)
    {
        try
        {
            await using var dbContext = await this.DbContextFactory.CreateDbContextAsync();
            dbContext.StockItems.Update(newStockItem);
            await dbContext.SaveChangesAsync();

            this.NavigationManager.NavigateTo("./inventory");
        }    
        catch (DbUpdateConcurrencyException ex)
        {
            // 同じ在庫情報が同時に変更された場合、rowVersion差異による例外が発生
            // Console.WriteLine(ex.Message);

            // @inject IJSRuntime JSRuntime でDIしたインターフェイスからJavaScriptを実行するパターン
            // await this.JSRuntime.InvokeVoidAsync(
            //     "alert", "他のユーザーによって在庫情報が変更されました。キャンセルしてやり直してください。");

            // wwwrootに定義した静的ファイルからJavaScriptの関数を呼び出して実行するパターン
            await using var module = await this.JSRuntime.InvokeAsync<IJSObjectReference>("import", "./helper.js");
            await module.InvokeVoidAsync("showMessage", "他のユーザーによって在庫情報が変更されました。キャンセルしてやり直してください。");
        }
    }

    private void OnCancel()
    {
        this.NavigationManager.NavigateTo("./inventory");
    }
}